.nav-link {
  font-weight: 500;
}

.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  padding: 2rem 0;
}
